body {
  background-color: rgb(91, 11, 33);
}

.debug {
  border: 1px red solid;
}

.cs-btn-confirm {
  background-color: green;
}

.cs-btn-cancel {
  background-color: rgb(204, 4, 4);
}

.form {
  width: 50%;
}

.ticket {
  height: 320px;
}

.divider {
  height: 3px;
  width: 100%;
  background-color: rgb(128, 128, 128);
}


